/* importaciones de texto también! */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Roboto+Slab:wght@300&display=swap');

:root
{
	--c-black: rgba(0, 0, 0, 1);
		--c-black-trans: rgba(0, 0, 0, .3);
	--c-gray: rgb(27, 27, 33);
	--c-white: rgba(255, 255, 255, 1);
		--c-white-trans: rgba(255, 255, 255, .3);
	--c-tomato: rgb(246, 45, 45);
		--c-tomato-cake: rgb(234, 85, 85);
}

html, body {
	position: relative;
	/* width: 100%; */
	/* height: 100%; */
	padding: 0;
}

*, body
{
	margin: 0;
	padding: 0;
	font-family: 'Mukta', sans-serif;
	font-family: 'Roboto Slab', serif;
}

body {
	color: #333;
	margin: 0;
	/* padding: 8px; */
	box-sizing: border-box;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	/* -webkit-padding: 0.4em 0; */
	/* padding: 0.4em; */
	/* margin: 0 0 0.5em 0; */
	box-sizing: border-box;
	/* border: 1px solid #ccc; */
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
	font-weight: bold;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
